<!-- Footer -->
<footer class="page-footer font-small scout-teal pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <h1 class="text-center">Further information</h1>

    <!-- Grid row -->
    <div class="row">

      <div class="col-6 col-lg-3">
        <a href="https://members.scouts.org.uk/supportresources/search/?cat=11" rel="nofollow">
          <picture>
            <source srcset="./img/logo/beavers-w.webp" type="image/webp">
            <source srcset="./img/logo/beavers-w.png" type="image/png">
            <img class="img-fluid" src="./img/logo/beavers-w.png" alt="Beavers Logo">
          </picture>
        </a>
      </div>

      <div class="col-6 col-lg-3">
        <a href="https://members.scouts.org.uk/supportresources/search/?cat=12" rel="nofollow">
          <picture>
            <source srcset="./img/logo/cubs-w.webp" type="image/webp">
            <source srcset="./img/logo/cubs-w.png" type="image/png">
            <img class="img-fluid" src="./img/logo/cubs-w.png" alt="Cubs Logo">
          </picture>
        </a>
      </div>

      <div class="col-6 col-lg-3">
        <a href="https://members.scouts.org.uk/supportresources/search/?cat=7" rel="nofollow">
          <picture>
            <source srcset="./img/logo/scouts-w.webp" type="image/webp">
            <source srcset="./img/logo/scouts-w.png" type="image/png">
            <img class="img-fluid" src="./img/logo/scouts-w.png" alt="Scouts Logo">
          </picture>
        </a>
      </div>

      <div class="col-6 col-lg-3">
        <a href="https://members.scouts.org.uk/supportresources/search/?cat=9" rel="nofollow">
          <picture>
            <source srcset="./img/logo/explorers-w.webp" type="image/webp">
            <source srcset="./img/logo/explorers-w.png" type="image/png">
            <img class="img-fluid" src="./img/logo/explorers-w.png" alt="Explorers Logo">
          </picture>
        </a>
      </div>

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <p>#SkillsForLife</p>
    <b>© Copyright <a href="https://scouts.org.uk/" rel="nofollow">The Scout Association</a> 2019. All Rights Reserved. | <a href="https://scouts.org.uk/about-us/key-policies/child-protection-policy/" rel="nofollow">Child Protection Policy</a> | <a href="#" rel="nofollow">Prances Scout Shop</a></b><br>
    Charity Numbers: 1044921 (1st Witham Scout Group) and 1123146 (Maldon and East Essex District Scout Council)<br>
    <i>Site Design: <a href="https://github.com/tmaguire/withamscouts.org.uk" rel="nofollow">Tom Maguire</a> | Branding: <a href="https://scoutsbrand.org.uk" rel="nofollow">Scout Brand Centre</a></i>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
